
body{
background-color: white;
margin-top: 7%;

}
.theBoard{

    width: 80%;
    height: 75vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr  1fr 1fr 1fr 1fr ;
    gap: 5px;
    position: relative;

 margin: auto;
 
}





.white{
    background-color: black;
}

.black{
    background-color: darkcyan;
}

