h1{
  font-weight: 700;
  font-size: 3em;
}
.container_div{
  padding:1px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}

.board_dash_div{
  width: 100%;

}

.theBoard{
  position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr  1fr 1fr 1fr 1fr ;
    gap: 3px;
  margin-bottom: 2%;
 
}

span > p{
display: none;
}


span > i{
  margin-top: 45%;
  }

span {
    display: inline-block;
    width: 3em;
    height: 3em;
     color: white;
    cursor: pointer; 
}

.black_king{
  color: black;
}


.score_div{
  width: 50%;
  height: fit-content;
  background-color: rgb(58, 56, 56);
 color: white;
}

.light_brown,.dark_brown{
  padding-top: 10%;
}

.light_brown{
    background-color: #ECB176; 
}


.dark_brown{
    background-color: #6F4E37;  
}


.score_board{
  position: relative;
  display: flex;
  justify-content: space-around;
}

.current_move{
  border: 2px solid red;
}

.possible_move{
  animation: blink 1.5s linear infinite;
  background-color: rgb(86, 83, 83); 
}


@keyframes blink {
  25% { 
 opacity: 0.5;
  }

  50% { 
    opacity: 0;
     }

     
  75% {
    opacity: 0.5;
  }
}

.dialog_margin{
	margin: auto;
	padding: 15px 15px 15px 15px;
	border-radius:  5px solid black;
}

.board_dash_div{
  gap: 10px;
  width: 100%;
}

@media screen and (min-width: 1000px) {
  h1{
   
    font-size: 5em;
  }
  .board_dash_div{
  display: flex;
  width: 90%;
  margin: auto;
  }

  .theBoard{
    position: relative;
      width: 70%;
  }

  span{
    width: 3em;
    height: 3em;
  font-size: 20px;
    
}

.score_board{
  width: 20%;
}

.score_div{
 margin-right: 10%;
 width: 70%;
  
 
}


}