

.theBoard{

    width: 80%;
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr  1fr 1fr 1fr 1fr ;
    gap: 5px;
    position: relative;
 margin: auto;
 
}

span{
    display: inline-block;
    width: 80px;
    height: 80px;
    font-size: 40px;
    color: gray;  
    font-weight: 500;
    cursor: pointer;
}

.score_div{
  width: 150px;
  height: fit-content;
  background-color: rgb(58, 56, 56);
  color: white;
  padding: 3px ;
}

.light_brown{
    background-color: #ECB176; 
}

.dark_brown{
    background-color: #6F4E37;
}

.impossible_move{
  border: 1px solid red;
}

.landing_spot{
  border: 1px solid red;
}

.current_move{
  border: 3px solid red;
 
}



.possible_move{
  animation: blink 1.5s linear infinite;
  background-color: rgb(86, 83, 83);
  
  
}

@keyframes blink {
  25% { 
 opacity: 0.5;
  }

  50% { 
    opacity: 0;
     }

     
  75% {
    opacity: 0.5;
  }
}